<form>
  <div class="form-group">
    <label for="mail">Votre adresse mail</label>
    <input type="email" class="form-control" id="mail" placeholder="xiaoyu.sere@gmail.com">
  </div>
  <div class="form-group">
    <label for="titre">Titre de votre liste</label>
    <input type="text" class="form-control" id="titre" placeholder="Liste de naissance de Léa">
  </div>
  <div class="form-group">
    <label for="titre">Description de votre liste</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Créer la liste</button>
</form>
