<div class="row">
  <div class="col-xs-12 text-center"><h2>Listes</h2></div>
</div>

<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="">
    <ul class="list-group">
      <li *ngFor="let liste of listes" class="list-group-item">
        <div class="list-group-item-text row">
          <div class="col-xs-7 overflow" style="line-height: 34px;">{{liste.titre}}</div>
          <div class="col-xs-5 text-right">
            <div class="btn-group">
            <button class="btn btn-default" (click)="goToListe(liste.$key)" aria-label="Voir la liste">
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
            <button class="btn btn-danger" (click)="supprimerListe(liste.$key)" aria-label="Supprimer la liste">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

