<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-success">
    <div class="panel-heading">Merci !</div>
    <div class="panel-body">
      <div class="text-center text-success" style="font-size:6em;">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      </div>
      <p class="text-center text-success">Votre participation est validée !</p>

      <p class="text-center text-success">Vous pouvez envoyer un mail au créateur de la liste pour le prévenir de votre participation</p>

      <p class="text-center text-success">
        <a class="btn btn-primary full" [href]="'mailto:' + mailString" aria-label="Envoyer un mail">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Prévenir {{liste.proprietaire}}
        </a>
      </p>
    </div>
  </div>
</div>
