<div [hidden]="!loading" class="loading">
  <div class="row col-xs-12">
    <div class="spinner"></div>
    <p style="text-align: center; margin-bottom: 20px;">Chargement en cours...</p>
  </div>
</div>
<div [hidden]="loading">
  <div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
    <div class="text-center"><h2>{{liste.titre}}</h2></div>
  </div>

  <div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>{{liste.titre}}</strong></div>
      <div class="panel-body" *ngIf="liste.description">{{liste.description}}</div>
      <div class="panel-body" *ngIf="!liste.description">Aucune description</div>
    </div>
  </div>

  <div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Votre nom</div>
      <div class="panel-body">
        <label for="participant" hidden>Votre nom</label>
        <input type="text" [(ngModel)]="participant" required name="participant" class="form-control" id="participant" placeholder="Nicolas" #participantField="ngModel">
        <div [hidden]="participantField.valid || participantField.pristine" class="alert alert-danger">Vous devez saisir votre nom pour que le propriétaire de la liste puisse savoir qui a participé.</div>
      </div>
    </div>
  </div>

  <div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active">Cocher le ou les cadeaux que vous souhaitez offrir</li>
        <li *ngFor="let souhait of liste.souhaits" class="list-group-item">
          <div class="list-group-item-text">
            <div style="display:inline-block; width:48%;">{{souhait.label}}</div>
            <div style="display:inline-block; width:48%; text-align: right">
                J'offre ce cadeau <input type="checkbox" [(ngModel)]="souhait.reserved" />
            </div>
          </div>
        </li>
      </ul>
  </div>

  <div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4 text-justify">
    <div class="text-center">
      <button class="btn btn-success" [disabled]="!canValidate()" (click)="persistChange()">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
      </button>
    </div>
  </div>

  <div style="margin-top: 20px;" [hidden]="devmode" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Debug</div>
      <div class="panel-body">{{liste | json }}</div>
    </div>
  </div>

</div>
