<div class="row">
  <div class="col-xs-12 text-center">
    <button class="btn btn-primary"(click)="createListOnClick()">Créer une liste de naissance</button>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <button class="btn"(click)="listesOnClick()">Toutes les listes</button>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <button class="btn"(click)="aboutOnClick()">A propos de cette application</button>
  </div>
</div>
