<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="text-center"><h2>Récapitulatif de la liste</h2></div>
</div>

<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{liste.titre}}</strong></div>
    <div class="panel-body" *ngIf="liste.description">{{liste.description}}</div>
    <div class="panel-body" *ngIf="!liste.description">Aucune description</div>
  </div>
</div>

<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">Votre adresse mail</div>
    <div class="panel-body">{{liste.mail}}</div>
  </div>
</div>

<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="">
    <ul class="list-group">
      <li *ngFor="let souhait of liste.souhaits" class="list-group-item">{{souhait.label}}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">Vous devez saisir votre nom pour valider votre participation</div>
</div>

<div class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4 text-justify">
  <div class="text-center">
    <button class="btn btn-success" (click)="persistListe()">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
    </button>
  </div>
</div>



<div *ngIf="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-success">
    <div class="panel-heading">Enregistrement réussi</div>
    <div class="panel-body">
      La liste a bien été enregistrée. Vous pouvez maintenant la partager !<br/>
      Le lien est le suivant : <a href="./#/participer/1/${{foundKey}}">http://localhost/#/participer/1/${{foundKey}}</a>
    </div>
  </div>
</div>



