<div [hidden]="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="text-center"><h2>Validation (3/3)</h2></div>
</div>

<div [hidden]="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{liste.titre}}</strong></div>
    <div class="panel-body" *ngIf="liste.description">{{liste.description}}</div>
    <div class="panel-body" *ngIf="!liste.description">Aucune description</div>
  </div>
</div>

<div [hidden]="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">Votre adresse mail</div>
    <div class="panel-body">{{liste.mail}}</div>
  </div>
</div>

<div [hidden]="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="">
    <ul class="list-group">
      <li *ngFor="let souhait of liste.souhaits" class="list-group-item">{{souhait.label}}</li>
    </ul>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xs-12 text-center text-danger">Vous devez saisir votre nom pour valider votre participation</div>
</div>
-->

<div [hidden]="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4 text-justify">
  <div class="text-center">
    <button class="btn btn-success full" (click)="persistListe()">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
    </button>
  </div>
</div>

<div *ngIf="message" class="row col-xs-offset-0 col-lg-offset-4 col-xs-12 col-lg-4">
  <div class="panel panel-success">
    <div class="panel-heading">Enregistrement réussi</div>
    <div class="panel-body">
      <div class="text-center text-success" style="font-size:6em;">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
      <p class="text-center text-success">La liste a bien été enregistrée.</p>
      <p class="text-center text-success">Vous pouvez maintenant la partager via le lien :</p>
      <p class="text-center"><a href="https://xiaoyu-sere.github.io/#/participer/1/{{foundKey}}">https://xiaoyu-sere.github.io/#/participer/1/{{foundKey}}</a></p>
    </div>
  </div>
</div>



